{% extends 'shared/_Mainlayout.html' %}
{% load static %}
{% block content %}





		<!-- Product Style -->
		<section class="product-area shop-sidebar shop section">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-4 col-12">
						<div class="shop-sidebar">
								<!-- Single Widget -->
								<div class="single-widget category">
									<h3 class="title">Categories</h3>
									<ul class="categor-list">
                                        {% for cat in category_context %}

										<li><a href="/products/{{ cat.name }}">{{ cat.title }}</a></li>
                                        {% endfor %}
									</ul>
								</div>
								<!--/ End Single Widget -->
								<!-- Single Widget -->
								<div class="single-widget recent-post">
									<h3 class="title">Recent post</h3>
									<!-- Single Post -->
                                    {% for post in recent_posts_context %}
									<div class="single-post first">
										<div class="image">
											<img src="{{ post.picture.url }}" alt="#">
										</div>
										<div class="content">
											<h5><a href="#">{{ post.title }}</a></h5>
{#											<p class="price">$99.50</p>#}
											<ul class="reviews">
												<li class="yellow"><i class="ti-star"></i></li>
												<li class="yellow"><i class="ti-star"></i></li>
												<li class="yellow"><i class="ti-star"></i></li>
												<li><i class="ti-star"></i></li>
												<li><i class="ti-star"></i></li>
											</ul>
										</div>
									</div>
                                    {% endfor %}
									<!-- End Single Post -->
								</div>
								<!--/ End Single Widget -->
						</div>
					</div>
					<div class="col-lg-9 col-md-8 col-12">
						<div class="row">
						</div>
						<div class="row">
                            {% for product in page_obj %}
							  <div class="col-lg-4 col-md-6 col-12">
								<div class="single-product">
									<div class="product-img">
										<a href="{{ product.get_absolute_url }}">
											<img class="default-img" src="{{ product.picture.url }}" alt="{{ product.title }} "style="height: 200px;width: 200px">
											<img class="hover-img" src="{{ product.picture.url }}" alt="{{ product.title }}"style="height: 200px;width: 200px">
										</a>
										<div class="button-head">
											<div class="product-action">
{#												<a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>#}
												<a title="Wishlist" href="/dashboard/products/add-to-wishlist/{{ product.id }}/{{ request.user.id }}"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
												<a title="Compare" href="{{ product.get_absolute_url }}"><i class="ti-bar-chart-alt"></i><span>Detail</span></a>
											</div>
											<div class="product-action-2">
												<a title="Add to cart" href="/add-item-to-cart/{{ product.id }}">Add to cart</a>
											</div>
										</div>
									</div>
									<div class="product-content">
										<h3><a href="{{ product.get_absolute_url }}">{{ product.title }}</a></h3>
										<div class="product-price">
											<span>${{ product.price }}</span>
										</div>
									</div>
								</div>
							</div>
                            {% endfor %}
						</div>


                            <!-- Start Pagination -->
                            <nav aria-label="...">
                                      <ul class="pagination justify-content-center pagination-sm" style="display: flex">
                                        <li class="page-item disabled">
                                            {% if page_obj.has_previous %}
                                               <li> <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Prev</a></li>
                                            {% endif %}
                                        </li>
                                        {% for page in paginator.page_range %}
                                            {% if page == page_obj.number %}
                                                <span class="page-link" style="background-color: #F7941D; border-color: #F7941D" href="?page={{ page }}">{{ page }}</span>
                                                {% else %}
                                                <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                                            {% endif %}
                                        </li>

                                      {% endfor %}
                                        <li class="page-item">
                                          {% if page_obj.has_next %}
                                            <a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a>
                                          {% endif %}
                                        </li>
                                      </ul>
                            </nav>
                            <!--/ End Pagination -->

					</div>
				</div>
			</div>
		</section>
		<!--/ End Product Style 1  -->

		<!-- Start Shop Newsletter  -->
		<section class="shop-newsletter section">
			<div class="container">
				<div class="inner-top">
					<div class="row">
						<div class="col-lg-8 offset-lg-2 col-12">
							<!-- Start Newsletter Inner -->
							<div class="inner">
								<h4>Newsletter</h4>
								<p> Subscribe to our newsletter and get <span>10%</span> off your first purchase</p>
								<form action="mail/mail.php" method="get" target="_blank" class="newsletter-inner">
									<input name="EMAIL" placeholder="Your email address" required="" type="email">
									<button class="btn">Subscribe</button>
								</form>
							</div>
							<!-- End Newsletter Inner -->
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Shop Newsletter -->



		<!-- Modal -->
			<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="ti-close" aria-hidden="true"></span></button>
						</div>
						<div class="modal-body">
							<div class="row no-gutters">
								<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
									<!-- Product Slider -->
										<div class="product-gallery">
											<div class="quickview-slider-active">
												<div class="single-slider">
													<img src="https://via.placeholder.com/569x528" alt="#">
												</div>
												<div class="single-slider">
													<img src="https://via.placeholder.com/569x528" alt="#">
												</div>
												<div class="single-slider">
													<img src="https://via.placeholder.com/569x528" alt="#">
												</div>
												<div class="single-slider">
													<img src="https://via.placeholder.com/569x528" alt="#">
												</div>
											</div>
										</div>
									<!-- End Product slider -->
								</div>
								<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
									<div class="quickview-content">
										<h2>Flared Shift Dress</h2>
										<div class="quickview-ratting-review">
											<div class="quickview-ratting-wrap">
												<div class="quickview-ratting">
													<i class="yellow fa fa-star"></i>
													<i class="yellow fa fa-star"></i>
													<i class="yellow fa fa-star"></i>
													<i class="yellow fa fa-star"></i>
													<i class="fa fa-star"></i>
												</div>
												<a href="#"> (1 customer review)</a>
											</div>
											<div class="quickview-stock">
												<span><i class="fa fa-check-circle-o"></i> in stock</span>
											</div>
										</div>
										<h3>$29.00</h3>
										<div class="quickview-peragraph">
											<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia iste laborum ad impedit pariatur esse optio tempora sint ullam autem deleniti nam in quos qui nemo ipsum numquam.</p>
										</div>
										<div class="size">
											<div class="row">
												<div class="col-lg-6 col-12">
													<h5 class="title">Size</h5>
													<select>
														<option selected="selected">s</option>
														<option>m</option>
														<option>l</option>
														<option>xl</option>
													</select>
												</div>
												<div class="col-lg-6 col-12">
													<h5 class="title">Color</h5>
													<select>
														<option selected="selected">orange</option>
														<option>purple</option>
														<option>black</option>
														<option>pink</option>
													</select>
												</div>
											</div>
										</div>
										<div class="quantity">
											<!-- Input Order -->
											<div class="input-group">
												<div class="button minus">
													<button type="button" class="btn btn-primary btn-number" disabled="disabled" data-type="minus" data-field="quant[1]">
														<i class="ti-minus"></i>
													</button>
												</div>
												<input type="text" name="quant[1]" class="input-number"  data-min="1" data-max="1000" value="1">
												<div class="button plus">
													<button type="button" class="btn btn-primary btn-number" data-type="plus" data-field="quant[1]">
														<i class="ti-plus"></i>
													</button>
												</div>
											</div>
											<!--/ End Input Order -->
										</div>
										<div class="add-to-cart">
											<a href="#" class="btn">Add to cart</a>
											<a href="#" class="btn min"><i class="ti-heart"></i></a>
											<a href="#" class="btn min"><i class="fa fa-compress"></i></a>
										</div>
										<div class="default-social">
											<h4 class="share-now">Share:</h4>
											<ul>
												<li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
												<li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
												<li><a class="youtube" href="#"><i class="fa fa-pinterest-p"></i></a></li>
												<li><a class="dribbble" href="#"><i class="fa fa-google-plus"></i></a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
        <!-- Modal end -->


{% endblock  %}




