{% load  static %}
<!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="{% static 'dashboard/js/jquery.min.js'%}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="{% static 'dashboard/js/popper.min.js'%}"></script>
    <script src="{% static 'dashboard/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'dashboard/js/perfect-scrollbar.jquery.min.js'%}"></script>
    <script src="{% static 'dashboard/js/sparkline.js' %}"></script>
    <!--Wave Effects -->
    <script src="{% static 'dashboard/js/waves.js'%}"></script>
    <!--Menu sidebar -->
    <script src="{% static 'dashboard/js/sidebarmenu.js'%}"></script>
    <!--Custom JavaScript -->
    <script src="{% static 'dashboard/js/custom.min.js'%}"></script>
    <!--This page JavaScript -->
    <!-- <script src="dist/js/pages/dashboards/dashboard1.js"></script> -->
    <!-- Charts js Files -->
    <script src="{% static 'dashboard/js/excanvas.js' %}"></script>
    <script src="{% static 'dashboard/js/jquery.flot.js' %}"></script>
    <script src="{% static 'dashboard/js/jquery.flot.pie.js' %}"></script>
    <script src="{% static 'dashboard/js/jquery.flot.time.js' %}"></script>
    <script src="{% static 'dashboard/js/jquery.flot.stack.js' %}"></script>
    <script src="{% static 'dashboard/js/jquery.flot.crosshair.js' %}"></script>
    <script src="{% static 'dashboard/js/jquery.flot.tooltip.min.js' %}"></script>
    <script src="{% static 'dashboard/js/chart-page-init.js' %}"></script>







