{% load  static%}
 <aside class="left-sidebar" data-sidebarbg="skin5">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav" class="p-t-30">
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/dashboard" aria-expanded="false"><i class="mdi mdi-view-dashboard"></i><span class="hide-menu">Dashboard</span></a></li>
                        <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-account-key"></i><span class="hide-menu">Home Page </span></a>
                            <ul aria-expanded="false" class="collapse  first-level">
                                <li class="sidebar-item"><a href="/" class="sidebar-link"><i class="mdi mdi-note-outline"></i><span class="hide-menu"> Home </span></a></li>
                                <li class="sidebar-item"><a href="/blog" class="sidebar-link"><i class="mdi mdi-note-outline"></i><span class="hide-menu"> Blog </span></a></li>
                                <li class="sidebar-item"><a href="/products" class="sidebar-link"><i class="mdi mdi-note-plus"></i><span class="hide-menu"> Products </span></a></li>
                                <li class="sidebar-item"><a href="/contact" class="sidebar-link"><i class="mdi mdi-note-outline"></i><span class="hide-menu"> Contact </span></a></li>
                                <li class="sidebar-item"><a href="/about-us" class="sidebar-link"><i class="mdi mdi-note-outline"></i><span class="hide-menu"> About us </span></a></li>

                            </ul>
                        </li>
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/dashboard/profile/" aria-expanded="false"><i class="mdi mdi-chart-bubble"></i><span class="hide-menu">Profile</span></a></li>
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/dashboard/order-list/{{ request.user.id }}" aria-expanded="false"><i class="mdi mdi-relative-scale"></i><span class="hide-menu">Orders</span></a></li>
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/dashboard/wish-list/" aria-expanded="false"><i class="mdi mdi-relative-scale"></i><span class="hide-menu">Wish List</span></a></li>
                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="#" aria-expanded="false"><i class="mdi mdi-pencil"></i><span class="hide-menu">Free Download</span></a></li>
                        <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-account-key"></i><span class="hide-menu">Authentication </span></a>
                            <ul aria-expanded="false" class="collapse  first-level">
                                <li class="sidebar-item"><a href="/account/password_change/" class="sidebar-link"><i class="mdi mdi-note-outline"></i><span class="hide-menu"> Change Password </span></a></li>
                                <li class="sidebar-item"><a href="/account/password_reset" class="sidebar-link"><i class="mdi mdi-note-plus"></i><span class="hide-menu"> Forget Password </span></a></li>
                                <li class="sidebar-item"><a href="/account/logout/" class="sidebar-link"><i class="mdi mdi-note-outline"></i><span class="hide-menu"> Log out </span></a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>