{% extends 'shared/_MainLayout.html' %}
{% load static %}

{% block content %}
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up Form </title>

    <link rel="stylesheet" href={% static "fonts/materical-icon/css/material-design-iconic-font.min.css" %}>
</head>
<body>

    <div class="main">
        <!-- Sign up form -->

        <div class="row">
             <div class="col">
                <div class="col">
                    <section class="signup">
                    <div class="container">
                        <div class="signup-content">
                              <div class="signup-form">
                        <h4 class="form-title" style="color:#F7941D; text-align: center;margin-top: 30px" >Create an Account</h4>
                        <form method="POST"  action=""  style="margin-left: 150px; margin-bottom: 50px">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i>{{ register_form.username.label }}</label>
                                <br>
                                {{ register_form.username }}
                                {% for error in register_form.username.errors %}
                                <p style="color: red"> {{ error }}</p>
                                {% endfor %}
                            </div>
                            <div class="form-group">
                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i>{{ register_form.first_name.label }}</label>
                                <br>
                                {{ register_form.first_name }}
                                {% for error in register_form.username.errors %}
                                <p style="color: red"> {{ error }}</p>
                                {% endfor %}
                            </div>
                            <div class="form-group" >
                                <label for="email"><i class="zmdi zmdi-email"></i>{{ register_form.email.label }}</label>
                                    <br>

                                {{ register_form.email }}
                                  {% for error in register_form.email.errors %}
                                       <p style="color: red">{{ error }}</p>
                                {% endfor %}
                            </div>
                            <div class="form-group">
                                <label for="pass"><i class="zmdi zmdi-lock"></i>{{ register_form.password.label }}</label>
                                 <br>
                                {{ register_form.password }}
                                  {% for error in register_form.password.errors %}
                                <p style="color: red">{{ error }}</p>
                                {% endfor %}
                            </div>
                            <div class="form-group">
                                <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i>{{ register_form.re_password.label }}</label>
                                <br>
                                {{ register_form.re_password }}
                              {% for error in register_form.re_password.errors %}
                                <p style="color: red">{{ error }}</p>
                                {% endfor %}
                            </div>
                            <div class="form-group">
                                <br>
                                {{ register_form.captcha }}
                                {% for error in register_form.captcha.errors %}
                                <p style="color: red"> {{ error }}</p>
                                {% endfor %}
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                                <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a style="color: red" href="/account/rules/" class="term-service">Terms of service</a></label>
                            </div>

                            <div class= "form-group form-button">
                                <button type="submit" class="btn btn-warning" id="signup"  value="Submit"> Create my Account</button>
                            </div>
                        </form>
                    </div>
                         </div>
                    </div>
                    <div>

                    </div>
                    </section>

                 </div>

             </div>
                      <div class="signup-image">
                        <figure style="width: 650px;height:650px"><img src={% static  "images/registerpic.png" %} alt="singup-image"></figure>
              </div>

        </div>

    </div>

    </div>

    <script src={% static "vendor/jquery/jquery.min.js" %}></script>
    <script src={% static "js/main.js" %}></script>
</body>
</html>



{% endblock %}