{% load static %}
{% load render_partial %}
<!DOCTYPE html>
<html lang="zxx">
<head>
	<!-- Meta Tag -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name='copyright' content=''>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Title Tag  -->
    <title>E-Commerce</title>

</head>
<body class="js">

    {% render_partial 'header' %}

    {% block content %}{% endblock %}

    {% render_partial 'footer' %}

</body>
</html>
