{% load static %}
{% include 'shared/headerReferences.html' %}

	<!-- Header -->
	<header class="header shop">
		<!-- Topbar -->
		<div class="topbar">
			<div class="container">
				<div class="row">
					<div class="col-lg-5 col-md-12 col-12">
						<!-- Top Left -->
						<div class="top-left">
							<ul class="list-main">
								<li><i class="ti-headphone-alt"></i> {{ site_setting.firt_mobile }}</li>
								<li><i class="ti-email"></i> {{ site_setting.email}}</li>
							</ul>
						</div>
						<!--/ End Top Left -->
					</div>
					<div class="col-lg-7 col-md-12 col-12">
						<!-- Top Right -->
						<div class="right-content">
							<ul class="list-main">
{#								<li><i class="ti-alarm-clock"></i> <a href="/admin">Admin Panel</a></li>#}
                                <li><i class="ti-map"></i> <a href="/sitemap.xml">SiteMap</a></li>
                                <li><i class="ti-rss"></i> <a href="/feed">RSS</a></li>
                                <li><i class="ti-rss"></i> <a href="/blog/feed">Blog RSS</a></li>
                                {% if not request.user.is_authenticated %}
                                    <li><i class="ti-power-off"></i><a href="/account/login">Login</a></li>
                                    <li><i class="ti-power-off"></i><a href="/account/register">Register</a></li>
                                {% else %}
                                    <li><i class="ti-power-off"></i><a href="/account/logout">Log out</a></li>
                                    <li><i class="ti-user"></i> <a href="/dashboard">My Dashboard</a></li>
                                {% endif %}
							</ul>
						</div>
						<!-- End Top Right -->
					</div>
				</div>
			</div>
		</div>
		<!-- End Topbar -->
		<div class="middle-inner">
			<div class="container">
				<div class="row">
					<div class="col-lg-2 col-md-2 col-12">
						<!-- Logo -->
						<div class="logo">
{#                            {% if site_setting.header_logo.url is not None %}#}
                                <a href="/"><img src={{ site_setting.header_logo.url }}  alt="logo"></a>
{#                            {% endif %}#}
						</div>
						<!--/ End Logo -->
						<!-- Search Form -->
						<div class="search-top">
							<div class="top-search"><a href="/products/search"><i class="ti-search"></i></a></div>
							<!-- Search Form -->
							<div class="search-top">
								<form class="search-form" action="/products/search/">
									<input type="text" placeholder="Search here..." name="search">
									<button value="search" type="submit"><i class="ti-search"></i></button>
								</form>
							</div>
							<!--/ End Search Form -->
						</div>
						<!--/ End Search Form -->
						<div class="mobile-nav"></div>
					</div>
					<div class="col-lg-8 col-md-7 col-12">
						<div class="search-bar-top">
							<div class="search-bar">
								<form action="/products/search/" >
									<input name="search" placeholder="Search Products Here....." type="search"   >
									<button class="btnn"><i class="ti-search"></i></button>
								</form>
							</div>
						</div>
					</div>
					<div class="col-lg-2 col-md-3 col-12">
						<div class="right-bar">
							<!-- Search Form -->
							<div class="sinlge-bar">
								<a href="#" class="single-icon"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
							</div>
							<div class="sinlge-bar">
								<a href="#" class="single-icon"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a>
							</div>
							<div class="sinlge-bar shopping">
								<a href="/shopping_cart/" class="single-icon"><i class="ti-bag"></i> <span class="total-count">{{ items_count }}</span></a>
								<!-- Shopping Item -->
								<div class="shopping-item">
									<div class="dropdown-cart-header">
										<span>{{items_count}} Items</span>
										<a href="/shopping_cart/">View Cart</a>
									</div>
									<ul class="shopping-list">

                                        {% for item in items %}

										<li>
											<a href="/remove-order-item/{{ item.id }}/" class="remove" title="Remove this item"><i class="fa fa-remove"></i></a>
											<a class="cart-img" href="#"><img src="{{ item.product.picture.url }}" alt="#"></a>
											<h4><a href="#">{{ item.product.title }}</a></h4>
											<p class="quantity">{{ item.count }}x - <span class="amount">${{ item.product.price }}</span></p>
										</li>

										{% endfor %}
									</ul>
									<div class="bottom">
										<div class="total">
											<span>Total</span>
											<span class="total-amount">${{ pay }}</span>
										</div>
										<a href="/shopping_cart/check_out" class="btn animate">Checkout</a>
									</div>
								</div>
								<!--/ End Shopping Item -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Header Inner -->
		<div class="header-inner ">
			<div class="container ">
				<div class="cat-nav-head " >
					<div class="row">
						<div class="col-lg-3">
							<div class="all-category ">
								<h3 class="cat-heading"><i class="fa fa-bars" aria-hidden="true"></i>CATEGORIES</h3>
								<ul class="main-category fancybox-is-hidden " >
                                    {% for cat in category_context %}
									<li><a href="/products/{{ cat.name }}">{{ cat }}</a></li>
                                    {% endfor %}
								</ul>
							</div>
						</div>
						<div class="col-lg-9 col-12">
							<div class="menu-area">
								<!-- Main Menu -->
								<nav class="navbar navbar-expand-lg">
									<div class="navbar-collapse">
										<div class="nav-inner">
											<ul class="nav main-menu menu navbar-nav">
													<li class="active" style="margin-right: 18px"><a href="/">Home</a></li>
													<li style="margin-right: 18px"><a href="/products">Products</a></li>

													<li style="margin-right: 15px"><a href="#">Shop<i class="ti-angle-down"></i><span class="new">New</span></a>
														<ul class="dropdown">
															<li><a href="/shopping_cart/">Cart</a></li>
															<li><a href="/shopping_cart">Checkout</a></li>
														</ul>
													</li>
													<li style="margin-right: 18px"><a href="/blog">Blog<i class="ti-angle-down"></i></a>
													</li>
													<li style="margin-right: 18px"><a href="/contact">Contact Us</a></li>
                                                    <li style="margin-right: 18px"><a href="/about-us">About us</a></li>
												</ul>
										</div>
									</div>
								</nav>
								<!--/ End Main Menu -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/ End Header Inner -->
	</header>
	<!--/ End Header -->